@chanset "UTF-8";
body
{
  background-color: purple;
  background-image:linear-gradient(black,white);
background-image:linear-gradient(black,white);



font-size: 50pt
font_family: Arial;
font-color: white;
}
